@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
//Fonts 
$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;

//Colors 
$btn-color: #6495ED;
$btn-text-color: #fff; 

html {
  font-size: 65%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(134, 132, 132);
}

img {
  width: 80%;
  height: auto;
}

nav,
.section-slider,
.section-article,
.section-form,
.footer-content {
  width: 80%;
  margin: auto;
}

p {
  font-size: $font-p;
} 

h1 {
  font-size: $font-h1;
}

h2 {
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
  font-weight: lighter;
}

.btn{
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: $btn-color;
}

.btn-buy{
  @extend .btn
}

@mixin box-flex($p, $c, $w){
  display: flex;
  justify-content: $p;
  align-items: $c;
  flex-wrap: $w;
}